#body{
    float: left;
    text-align: center;
    width: 600px;
    height: 600px;
    margin-left: 20%;
    margin-right: 20%;
}

#left{
    float: left;
    width: 300px;
}
#right{
    float: right;
    width: 290px;
}
